<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body text-center">
                <span class="titulo">LISTADO DE ORGANISMOS</span>
                <button class="btn btn-success float-end" routerLink="/organismos" routerLinkActive="active" ariaCurrentWhenActive="page">NUEVA</button>
                <table class="table table-striped mt-4">
                  <thead>
                    <tr>
                      <th scope="col">Nombre</th>
                      <th scope="col">Direccion</th>
                      <th scope="col">Poblacion</th>
                      <th scope="col">Codigo Postal</th>
                      <th scope="col">Telefono</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Instituto de Investigación en Ciencias Médicas</td>
                      <td>Calle Principal 123</td>
                      <td>Ciudad Salud</td>
                      <td>12345</td>
                      <td>(123) 456-7890</td>
                      <td>
                        <i class="fa-regular fa-pen-to-square text-primary"></i>
                        <i class="fa-regular fa-trash-can text-danger"></i>
                      </td>
                    </tr>
                    <tr>
                        <td>Centro de Investigación en Tecnología Avanzada</td>
                        <td>Avenida Tecnológica 567</td>
                        <td>Ciudad Innovadora</td>
                        <td>54321</td>
                        <td>(987) 654-3210</td>
                        <td>
                          <i class="fa-regular fa-pen-to-square text-primary"></i>
                          <i class="fa-regular fa-trash-can text-danger"></i>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>