<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
              <div class="card-body text-center">
                <span class="titulo">LISTADO DE CONVOCATORIAS</span>
                <button class="btn btn-success float-end" routerLink="/convocatorias" routerLinkActive="active" ariaCurrentWhenActive="page">NUEVA</button>
                <table class="table table-striped mt-4">
                  <thead>
                    <tr>
                      <th scope="col">Programa</th>
                      <th scope="col">Direccion Web</th>
                      <th scope="col">Fecha Limite</th>
                      <th scope="col">Numero de BOE/DOGV</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Investigación Científica</td>
                      <td>https://investigacion.com</td>
                      <td>2023-12-31</td>
                      <td>12345/2023</td>
                      <td>
                        <i class="fa-regular fa-pen-to-square text-primary"></i>
                        <i class="fa-regular fa-trash-can text-danger"></i>
                      </td>
                    </tr>
                    <tr>
                        <td>Desarrollo Tecnológico</td>
                        <td>https://desarrollo.com</td>
                        <td>2023-11-15</td>
                        <td>67890/2023</td>
                        <td>
                          <i class="fa-regular fa-pen-to-square text-primary"></i>
                          <i class="fa-regular fa-trash-can text-danger"></i>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>