<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
              <div class="card-body">
                <div class="text-center">
                  <span class="titulo"><strong>LISTADO DE USUARIOS</strong></span>
                  <button class="btn btn-success float-end" routerLink="/usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">NUEVA</button>
                </div>
                <table class="table table-striped mt-4">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">Correo</th>
                      <th scope="col">Tipo de usuario</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>sptorres1</td>
                      <td>sebastatoo9&#64;gmail.com</td>
                      <td>Organismo</td>
                      <td>
                        <i class="fa-regular fa-pen-to-square text-primary"></i>
                        <i class="fa-regular fa-trash-can text-danger"></i>
                      </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>edcantuna</td>
                        <td>edcantuna&#64;gmail.com</td>
                        <td>Investigador</td>
                        <td>
                          <i class="fa-regular fa-pen-to-square text-primary"></i>
                          <i class="fa-regular fa-trash-can text-danger"></i>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>