<div class="container mt-3">
    <br>
    <!-- Registro de Investigadores -->
    <div class="card p-3" style="max-width: 800px; margin: 0 auto;">
        <h3 class="text-center fw-bold mt-4 mb-4">REGISTRO DE INVESTIGADORES</h3>
        <form>
            <div class="mb-2">
                <label for="nombreInvestigador" class="form-label"><strong>Nombre del investigador:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" id="nombreInvestigador" class="form-control" placeholder="Ingrese el nombre del investigador">
                </div>
            </div>
        
            <div class="mb-2">
                <label for="liderProyecto" class="form-label"><strong>¿Es líder de un proyecto?</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                    <select id="liderProyecto" class="form-control">
                        <option value="" disabled selected>Seleccione</option>
                        <option value="si">Sí</option>
                        <option value="no">No</option>
                    </select>
                </div>
            </div>
        </form>
        <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg"><i class="fas fa-check"></i>Agregar</button>
        </div>
    </div>

    <!-- Registro de Grupos de Investigación -->
    <div class="card p-3 mt-4" style="max-width: 800px; margin: 0 auto;">
        <h3 class="text-center fw-bold mt-4 mb-4">REGISTRO DE GRUPO DE INVESTIGACIÓN</h3>
        <form>
            <div class="mb-2">
                <label for="nombreGrupo" class="form-label"><strong>Nombre del grupo:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                    <input type="text" id="nombreGrupo" class="form-control" placeholder="Ingrese el nombre del grupo">
                </div>
            </div>
        
            <div class="mb-2">
                <label for="participantes" class="form-label"><strong>Participantes:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-friends"></i></span>
                    <select id="participantes" class="form-control">
                        <option value="" disabled selected>Seleccione los participantes</option>
                        <option value="investigador1">Investigador 1</option>
                        <option value="investigador2">Investigador 2</option>
                        <option value="investigador3">Investigador 3</option>
                        <!-- Agrega más opciones según sea necesario -->
                    </select>
                    <button type="button" class="btn btn-primary btn-lg"><i class="fas fa-plus"></i> Agregar Participante</button>
                </div>
            </div>
        
            <div class="mb-2">
                <div class="input-group justify-content-center">
                    <button type="submit" class="btn btn-warning btn-lg"><i class="fas fa-check"></i> Crear Grupo</button>
                </div>
            </div>
        </form>
        
    </div>
    <!-- Botón Volver -->
    <div class="mt-3 mb-3 d-flex justify-content-center">
        <button type="button" class="btn btn-secondary btn-lg" routerLink="/admin-view" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-arrow-left"></i> Volver</button>
    </div>
</div>
