
<div class="container mt-3">
    <br>
    <h2 class="text-center fw-bold">REGISTRO DE USUARIOS</h2>
    <!-- Formulario para crear una nueva tarea -->
    <br>
    <div id="formularioTarea">
        <form>
            <div class="mb-3">
                <label for="username" class="form-label"><strong>Nombre de Usuario:</strong></label>
                <input type="text" id="username" class="form-control" placeholder="Ingrese su nombre de usuario">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label"><strong>Correo electrónico:</strong> </label>
                <input type="email" id="email" class="form-control" placeholder="Ingrese su correo electrónico">
            </div>

            <div class="mb-3">
                <label for="password" class="form-label"><strong>Contraseña:</strong></label>
                <input type="password" id="password" class="form-control" placeholder="Ingrese su contraseña">
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label"><strong>Confirmar contraseña:</strong></label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Ingrese nuevamente la contraseña">
            </div>

            <div class="mb-3">
                <label for="tipoUsuario" class="form-label"><strong>Tipo de usuario:</strong></label>
                <select id="tipoUsuario" class="form-control">
                    <option value="" disabled selected>Escoja el tipo de usuario</option>
                    <option value="organismo">Organismo</option>
                    <option value="investigador">Investigador</option>
                </select>
            </div>

            <br>
            <div class="mb-3 d-flex justify-content-between">
                <button type="submit" class="btn btn-success btn-lg float-end">Registrar</button>
                <button type="button" class="btn btn-secondary btn-lg float-start" routerLink="/admin-view" routerLinkActive="active" ariaCurrentWhenActive="page">Volver</button>
            </div>
        </form>
    </div>
</div>

