<div class="container mt-5">
    <div class="row">
        <div class="col-lg-11 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="titulo"><strong>LISTADO DE SOLICITUDES</strong></span>
                    </div>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Titulo Proyecto</th>
                                <th scope="col">Investigador Principal</th>
                                <th scope="col">Nombre Grupo</th>
                                <th scope="col">Convocatoria</th>
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let solicitud of solicitudes" [ngClass]="solicitud.estado">
                              <td>{{ solicitud.titulo }}</td>
                              <td>{{ solicitud.investigador }}</td>
                              <td>{{ solicitud.nombreGrupo }}</td>
                              <td>{{ solicitud.convocatoria }}</td>
                              <td [class.aprobada]="solicitud.estado === 'aprobada'" [class.desaprobada]="solicitud.estado === 'desaprobada'">
                                <i class="fas fa-check text-success" (click)="toggleAprobada(solicitud)"></i>
                                <i class="fas fa-times text-danger" (click)="toggleDesaprobada(solicitud)"></i>
                                <i class="fas fa-eye text-primary" routerLink="/solicitudes-org" routerLinkActive="active" ariaCurrentWhenActive="page"></i>
                            </td>
                            </tr>
                          </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>