<div class="container mt-5">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="titulo"><strong>LISTADO DE SOLICITUDES</strong></span>
                    </div>
                    <table class="table table-striped mt-4">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Titulo Proyecto</th>
                                <th scope="col">Importe Economicó</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Fecha Inicio</th>
                                <th scope="col">Nombre Grupo</th>
                                <th scope="col">Horas Semana</th>                               
                                <th scope="col">Convocatoria</th>                               
                                <th scope="col">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Proyecto A</td>
                                <td>$1000</td>
                                <td>2023-01-01</td>
                                <td>2023-02-01</td>
                                <td>Grupo A</td>
                                <td>20</td>
                                <td>Convocatoria 1</td>
                                <td>
                                    <i class="fa-regular fa-pen-to-square text-primary"></i>
                                    <i class="fa-regular fa-trash-can text-danger"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Proyecto B</td>
                                <td>$1500</td>
                                <td>2023-03-01</td>
                                <td>2023-04-01</td>
                                <td>Líder B</td>
                                <td>25</td>
                                <td>Convocatoria 2</td>
                                <td>
                                    <p><i class="fa-regular fa-pen-to-square text-primary"></i>Aprovar</p> 
                                    <p><i class="fa-regular fa-trash-can text-danger" routerLink="/solicitudes-org" routerLinkActive="active" ariaCurrentWhenActive="page"></i>Ver Mas</p> 
                                    <p><i class="fa-regular fa-trash-can text-danger"></i>Rechazar</p> 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>