<div class="container mt-3">
    <br>
    <div class="card p-3" style="max-width: 600px; margin: 0 auto;">
        <h3 class="text-center fw-bold mt-4 mb-4">INFORMACIÓN DETALLADA</h3>
        <!-- Formulario para crear una nueva tarea -->
        <form>
            <div class="mb-2">
                <label for="nombre" class="form-label"><strong>Titulo Proyecto:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-heading"></i></span>
                    <input type="text" class="form-control" placeholder="Titulo Proyecto" value="Proyecto 1" disabled>
                </div>
            </div>

            <div class="mb-2">
                <label for="nombre" class="form-label"><strong>Investigador:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" placeholder="Investigador Proyecto" value="Sebastian" disabled>
                </div>
            </div>

            <div class="mb-2">
                <label for="direccion" class="form-label"><strong>Importe Economico:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-coins"></i></span>
                    <input type="number" class="form-control" placeholder="Importe Economico" value="50000" disabled>
                </div>
            </div>

            <div class="mb-2">
                <div class="row">
                    <div class="col">
                        <label for="fechaInicio" class="form-label"><strong>Fecha Inicio:</strong></label>
                        <input type="date" class="form-control" id="fechaInicio" placeholder="Fecha Inicio" value="2023-01-15" disabled>
                    </div>
                    <div class="col">
                        <label for="fechaFin" class="form-label"><strong>Fecha Fin:</strong></label>
                        <input type="date" class="form-control" id="fechaFin" placeholder="Fecha Fin" value="2023-12-31" disabled>
                    </div>
                </div>
            </div>

            <div class="mb-2">
                <label for="password" class="form-label"><strong>Nombre Grupo:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-users"></i></span>
                    <input type="text" class="form-control" placeholder="Población" value="Biología Molecular" disabled>
                </div>
            </div>

            <div class="mb-2">
                <label for="confirmPassword" class="form-label"><strong>Horas por Semana:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-clock"></i></span>
                    <input type="number" class="form-control" placeholder="Código Postal" value="20" disabled>
                </div>
            </div>

            <div class="mb-2">
                <label for="tipoUsuario" class="form-label"><strong>Convocatoria:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-book"></i></span>
                    <select id="tipoUsuario" class="form-control">
                        <option value="Convocatoria 1" disabled selected>Convocatoria 1</option>
                    </select>
                </div>
            </div>

            <div class="mt-4 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Registrar</button>
                <button type="button" class="btn btn-secondary" routerLink="/organismo-view" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-arrow-left"></i> Volver</button>
            </div>
        </form>
    </div>
</div>
