/* Estilos para la barra de navegación */
.navbar {
    background-color: #022B3A !important; /* Color de fondo */
}

.navbar-brand, .navbar-nav .nav-link {
    color: #E1E5F2 !important; /* Color del texto */
}

.navbar-nav .nav-link:hover {
    background-color: #1F7A8C !important; /* Color de fondo al pasar el mouse */
    color: #ffffff !important; /* Color del texto al pasar el mouse */
    cursor: pointer;
}

.main {
    background-color: #E1E5F2;
}	

.navbar-toggler {
    background-color: #E1E5F2 !important; 
    border-color: #E1E5F2 !important;
}

.navbar-toggler:hover {
    background-color: #98c7f5 !important; 
    border-color: #98c7f5 !important;
}