
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" >Gestión Ficheros</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/show">Organismos</a>
        <a class="nav-link" routerLink="/showConvocatoria">Convocatorias</a>
        <a class="nav-link"routerLink="/showSolicitud">Solicitudes</a>
        <a class="nav-link"routerLink="/showInvestigador">Investigadores</a>
        <a class="nav-link"routerLink="/showGruposInvestigacion">Grupos Investigación</a>
        <a class="nav-link"routerLink="/showDepartamentos">Departamentos</a>
        <a class="nav-link"routerLink="/showAreas">Areas</a>
        <button mat-button routerLink="/">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>
