<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2 class="mb-4">Solicitudes</h2>
  
        <div *ngIf="solicitudesCompletas.length > 0; else noSolicitudes">
          <!-- Muestra la lista de solicitudes -->
          <div *ngFor="let solicitud of solicitudesCompletas" class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ solicitud.titulo_proyecto }}</h5>
              <p class="card-text">ID: {{ solicitud._id }}</p>
              <p class="card-text">Fecha de Presentación: {{ solicitud.fecha_presentacion | date }}</p>
              <p class="card-text">Fecha de Resolución: {{ solicitud.fecha_resolucion | date }}</p>
              <p class="card-text">Importe Económico: {{ solicitud.importe_economico }}</p>
              <p class="card-text">Fecha de Inicio del Proyecto: {{ solicitud.fecha_inicioProyecto | date }}</p>
              <p class="card-text">Fecha de Fin del Proyecto: {{ solicitud.fecha_finProyecto | date }}</p>
              <p class="card-text">Estado: {{ solicitud.estado ? 'Aprobado' : 'Pendiente' }}</p>
              <!-- AQui el cuadro de dialogo pop up de detalles de la solicitud si es necesario -->
            </div>
          </div>
        </div>
        <a class="nav-link"routerLink="/dash-investigador">Retornar</a>
        <ng-template #noSolicitudes>
          <!-- Muestra un mensaje o diseño especial cuando no hay solicitudes -->
          <p>No hay solicitudes disponibles.</p>
        </ng-template>
  
        <!-- Puedes agregar aquí otros elementos o acciones según tus necesidades -->
  
      </div>
    </div>
  </div>
  