<div class="container mt-3">
    <br>
    <div class="card p-3" style="max-width: 600px; margin: 0 auto;">
        <h3 class="text-center fw-bold mt-4 mb-4">REGISTRO DE ORGANISMO</h3>
        <!-- Formulario para crear una nueva tarea -->
        <form>
            <div class="mb-2">
                <label for="nombre" class="form-label"><i class="fas fa-building"></i> <strong>Nombre del Organismo:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-building"></i></span>
                    <input type="text" class="form-control" placeholder="Nombre de organismo">
                </div>
            </div>

            <div class="mb-2">
                <label for="direccion" class="form-label"><i class="fas fa-map-marker-alt"></i> <strong>Dirección:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Dirección">
                </div>
            </div>

            <div class="mb-2">
                <label for="poblacion" class="form-label"><i class="fas fa-users"></i> <strong>Población:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-home"></i></span>
                    <input type="text" class="form-control" placeholder="Población">
                </div>
            </div>

            <div class="mb-2">
                <label for="codigoPostal" class="form-label"><i class="fas fa-map-pin"></i> <strong>Código Postal:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-map-pin"></i></span>
                    <input type="text" class="form-control" placeholder="Código Postal">
                </div>
            </div>

            <div class="mb-2">
                <label for="telefono" class="form-label"><i class="fas fa-phone-alt"></i> <strong>Teléfono:</strong></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                    <input type="text" class="form-control" placeholder="Teléfono">
                </div>
            </div>
            <div class="mt-4 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Registrar</button>
                <button type="button" class="btn btn-secondary" routerLink="/admin-view" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fas fa-arrow-left"></i> Volver</button>
            </div>
        </form>
    </div>
</div>
