<div class="d-flex align-items-center justify-content-center vh-100 border">
    <div class="bg-light p-5 border border-dark ">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">

            </div>
            <button type="submit" class="btn btn-primary" disabled>Submit</button>
            <button type="button" class="btn btn-success" routerLink="/login-view/admin-view" routerLinkActive="active" ariaCurrentWhenActive="page">Administrador</button>
            <button type="button" class="btn btn-danger" routerLink="/login-view/investigador-view" routerLinkActive="active" ariaCurrentWhenActive="page">Investigador</button>
        </form>
    </div>
</div>